body{
    background-color:gray;
    color: white;
    text-align: justify;
    
}

h1 {
   font-size: 80px; 
   font-style: italic;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   padding: 50px;
   text-align: start;
   color: black;  
   
} 

h2{
    padding-top: 150px;
    padding-top: 150px;
    margin-bottom: 150px;
    text-align: center;
}

h3 {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: 30px;
    color: red;
    font-size: 50px;
}
.carlitos{
    text-align: center;
    font-weight: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.frontEnd{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding: 100px;
    text-align: justify;
    font-size: 60px;
    background-color:teal;
}

.navbar{
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.cursos2{
    margin-left: 100px;
    font-size: 20px;
    color: blue;
    text-align: center;
  
}

.logo{
    padding: 10px;
    padding-top: 15px;
}
 
.xp {
    font-size: 20px;
    text-align: justify;
    color: black;
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.nAmerica{
    font-size: 20px;
    margin-left: 150px;
    text-align: justify;
    color: black;
}

.rede{
    text-align: center;
    background-color: #2c3e50;
    padding: 10px;

}
.contatos{
    text-align:center;
    font-size: 20px;
}

.projetos{
    color: white;
    text-align: left;
    margin-left: 100px;
    font-family: fantasy;
    font-size: 35px;
}

.git{
    padding-top: 15px;
}

.link{

    padding: 10px;
}

.face{
    padding: 10px;
}

.dig{
    padding: 5px;
}

.dev{
    text-align: start;
    font-weight: bold;
    font-size: 20px;
    margin-left: 150px;
    font-family: 'Courier New', Courier, monospace;
}

.box{
    height: 100%;
    width: 100%;
    display: block;
    cursor:pointer;
}

.carrosel{
    margin-top: 5px;
    text-align: center;
    font-weight: bolder;

}