*{
    margin: 0;
    padding: 0;
}


body{
    padding: 0;
    margin:0;
    width: 100%;
    height: 100vh;
    background-color:black; 
    color: #2ecc71; 

}

h1 {
   font-size: 80px; 
   font-style: italic;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   padding-bottom: 100px;
   text-align: start;
   color: #95a5a6;  
   
} 

.nav-link{
    color: #fbc531;
    font-style: italic;
    font-size: 22px;
}


.styleH2{
    text-align:center;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic; 
    font-size: 50px;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-top: 80px;
    color:#eb2f06;

}

.carlitos{
    color: gold;
    text-align: center;
    font-weight: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.frontEnd{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 65px;
    text-align: star;
    font-size: 70px;
}

.navbar{
    flex-direction: initial;
    font-style: oblique;
    font-size:20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    padding:50px;
    
    
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
   
}

.cursos2{
    font-size: 20px;
    color:#f1c40f;
    text-align: center;
    padding-bottom: 65px; 
}

.escola{
    font-size: 24px;
    font-weight: bold;
    color: #3c40c6;
    font-family: Georgia;
}

.logo{
    padding: 10px;
    padding-top: 15px; 
}
 
.exp{
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: black;
    text-align: right;
    padding-bottom: 15px;
    padding-top: 10px;
    background-color:white;
}

.rede{
    text-align: center;
    background-color: #3d3d3d;
    padding: 10px;
}

.alink{
    color: #f1c40f;
    text-decoration: underline;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bootCamp{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4cd137;
}

.projRepo{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color:#ffa801;
}

.links{
    padding-bottom:0px ;
    font-size: 20px;
    color: #12CBC4;
}

.dev{
    text-align: start;
    padding-left: 15px;
    font-weight: bold;
    font-size: 15px;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#12CBC4;
}

.box{
    height: 50%;
    width: 50%;
    display: block;
    cursor:pointer;
}

.carrosel{
    margin-top: 5px;
    text-align: center;
    font-weight: bolder;

}
.linguagem{
    text-align: center;
}

.frase{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-right: 100px;
    color: thistle;
}

