body{
    background-color:black;
    color: white;
    
    
    
    
}

h1 {
   font-size: 80px; 
   font-style: italic;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   padding: 50px;
   text-align: start;
   color: darkgoldenrod;  
   
} 

h2{
    padding-top: 150px;
    padding-top: 150px;
    margin-bottom: 150px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.styleH2{
    text-align:center;
    text-decoration: underline;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: italic; 
    font-size: 50px;
    padding-bottom: 10px;
    padding-top: 100px;
    color: #273c75;
}

.carlitos{
    text-align: center;
    font-weight: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.frontEnd{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: star;
    font-size: 70px;
    background-color: black;
}

.navbar{
    flex-direction: initial;
    font-style: oblique;
    font-size:20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    padding:50px;
    
    
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
   
}

.cursos2{
    margin-left: 100px;
    font-size: 20px;
    color: blue;
    text-align: center;
  
}

.logo{
    padding: 10px;
    padding-top: 15px;
}
 
.xp {
    text-align: justify;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    color:blue;
}
.exp{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    background-image: url(../imgs/trabalho.jpeg);
}

.nAmerica{
    margin-left: 150px;
    text-align: justify;
    font-size: 20px;
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 50px;
    color:blue;
}  

.rede{
    text-align: center;
    background-color: #2c3e50;
    padding: 10px;

}
.contatos{
    text-align:center;
    font-size: 20px;
    padding-bottom: 5px;
    padding-right: 15px;
}

.projRepo{
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    font-style: italic;
    background-image: url('../imgs/pro.jpg')
}
.git{
    padding-top: 15px;
}

.link{

    padding: 10px;
}

.face{
    padding: 10px;
}

.dig{
    padding: 5px;
}

.dev{
    text-align: start;
    font-weight: bold;
    font-size: 20px;
    margin-left: 150px;
    font-family: 'Courier New', Courier, monospace;
}

.box{
    height: 50%;
    width: 50%;
    display: block;
    cursor:pointer;
}

.carrosel{
    margin-top: 5px;
    text-align: center;
    font-weight: bolder;

}
.linguagem{
    padding-left: 750px;
}


